
node_modules/
dist/assets/
dist/
public/
assets/
src\\UtilityTools\\
project-next\\.next\\**
project-next\\.node_modules\\

.vs/
.swc/
.*


package-lock.json
package.json
vite.config.js

!eslint.config.js
!eslintrc.cjs

